/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 19-apr-2017, 13:06:49
    Author     : Koen Hengsdijk
*/

.pane{

}

.equalsButton{
      -fx-text-fill: yellow;
    -fx-background-color: blue;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
}

.button1{
    -fx-text-fill: yellow;
    -fx-background-color: grey;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5; 
    
}

.button2{
     -fx-text-fill: yellow;
    -fx-background-color: black;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5; 
}
.acButton{
     -fx-text-fill: black;
    -fx-background-color: red;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5; 
}
.result{
    -fx-text-fill: yellow;
    -fx-background-color: black;
    -fx-border-radius: 20;
    -fx-background-radius: 20;
    -fx-padding: 5;
     
}